@mixin mini-desktop {
  @media (max-width: 1440px) {
    @content
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content
  }
}

@mixin mini-tablet {
  @media (max-width: 768px) {
    @content
  }
}

@mixin mobile {
  @media (max-width: 576px) {
    @content
  }
}

@mixin mini-mobile {
  @media (max-width: 320px) {
    @content
  }
}

